amqp
anyjson
appdirs
astroid
awesome-slugify
billiard
celery
crc16
Django
django-angular
django-appconf
django-celery-email
django-ckeditor
django-configurations
django-debug-toolbar
djangorestframework
easy-thumbnails
gunicorn
isort
kombu
lazy-object-proxy
mccabe
mysqlclient
olefile
packaging
Pillow
ptvsd
pylint
pyparsing
python-redis
pytz
regex
six
sqlparse
Unidecode
wrapt
django-celery-results
django-bootstrap-pagination
django-breadcrumbs
django-js-reverse
python-memcached
django-annoying